# Members of group 32
Tor Madsen <tormads@stud.ntnu.no> <tormads@ntnu.no> <marvel.madsen@gmail.com>
Brage Hagemann Brataas <bragehb@stud.ntnu.no> <69513712+mklevs99@users.noreply.github.com> <brahabra@gmail.com>
Emil Gillingham Aukner <emilgau@stud.ntnu.no>
Mats Klevstad <matskl@stud.ntnu.no> <matsi99@live.com>
unknown <> <emil.jar@live.no>
